.container {
  position: relative;
  width: 1200px;
}

/* @media screen and (max-width: 2500px) {
  .container {
    width: 1200px;
  }
} */

@media screen and (max-width: 1920px) {
  .container {
    width: 750px;
  }
}
